{% extends 'base.html' %} # наследовать от файла base.html
{% block title %}
{% endblock %}
{% block body %}
<div class="uk-margin-left">
<h1 class="uk-heading-line uk-heading-line"> <span>Лекции научной тематики в СПб </span></h1>
<p> На текущее число {{cur_date}} представлены следующие лекции:</p>
</div>
<div class="uk-flex uk-flex-column">
    {% for p in posts %}
    <div>
        <div class="uk-card uk-card-small uk-box-shadow-small uk-card-body uk-animation-fade">
            <h2 class="uk-card-title"> {{ 'Планетарий №1' if p[0]=='planetalib' else 'Охта-8' }}</h2>
            <p>{{ p[-1] | urlize }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
